* {
    padding: 0px;
    margin: 0px;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-image: url('preview.jpg');
    background-size: cover;
  
}

.heading1 {
    color:  rgb(175, 174, 174);
    font-size: 90px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 900;
   
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    
}
ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}
ul a:hover {
    color: rgb(162, 7, 7);
    border : 2px solid grey;
    transition: all 0.3s ease-in-out;
   
}
.p1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
}
.disc {
    
    line-height: 40px;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 8px;
}

.img1 {
    /* background-size: cover;
    width: 800px;
    height: 400px;
   margin-top: 20px;
   margin-left: 350px; */
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 800px;
   height: 400px;
  
}
.container2 {
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 60px;
    font-family: 'fantasy';
    font-weight: 400;
    color: silver;
}
.p2 {
    
    line-height: 40px;
    font-size: 18px;
  }
  .ken { 
         display: flex; 
         justify-content: center;
         align-self: center;
        font-size: 55px;
        font-family: sans-serif;
        color: rgb(175, 174, 174); 
        margin-top: 50px;
        font-weight: 400; 
    }


  .img2 { display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 20px; 

}
